body{
    font-size: 14px;
}

#imgsrc1{
    height: 20px;
    width: 25px;
}

#imgsrc2{
    height: 50px;
    margin: 0px auto;
}

#imgsrc3{
    height: 20px;
    margin: 15px 5px 15px 0px;
}

#top{
    display: flex;
    justify-content: space-around;
}

.container {
    text-align: center;
    margin-top: 50px;
    height: 100%;
}

.options {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.option {
    margin: 10px;
    padding: 12px;
    border: 2px solid transparent;
    cursor: pointer;
    transition: border-color 0.3s ease-in-out;
}

input{
    bottom: 1px;
    font-size: 18px;

}

#result{
    margin-top: 5px;
}

.option:hover {
    border-color: #007bff;
}

.option.selected {
    border-color: #28a745;
}

button{
    padding: 3px 5px 3px 5px;
    border-radius: 15px;
}

.add{
    font-size: 14px;

}

.remove{
    background-color:#ff2d2d41;
    font-size: 14px;

}

.ok{
    background-color: #28a74541;
    font-size: 14px;

}